html {

	padding: 0;
	margin: 0;

}

body {

	padding: 0;
	margin: 0;
	background-color: #eee;

}

header {
	
	position: relative;
	padding: 5px 0;
	height: 40px;
	width: 100%;
	background-color: #1A237E;

}

header div.line {

	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 4px;
	left: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 2;

}

header table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

h1 {

	padding: 0;
	margin: 0;
	font-weight: 400;
	font-family: 'Muli', sans-serif;
	color: #fff;
	font-size: 22px;
	text-indent: 8px;

}

header table td.button {

	width: 80px;
	text-align: right;
	padding-right: 8px;
	color: #fff;
	font-family: 'Muli', sans-serif;

}

section {

	padding: 20px;
	max-width: 1200px;
	width: 100%;
	display: block;
	margin :auto;

}

article.atlas-input {

	height: 800px;
	background-color: #eee;

}

article table.layout {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

article table.layout td.top {


}

article table.layout div.texture-list {

	width: calc(100% - 20px);
	display: block;
	margin: auto;
	background-color: #fff;
	border-radius: 4px;
	height: 700px;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(33,82,196,1);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(33,82,196,1);
	box-shadow: inset 0px 0px 5px 0px rgba(33,82,196,1);
	overflow-y :auto;

}

article table.layout div.texture-list li {

	list-style: none;
	border-bottom: 1px solid rgba(33,82,196, 0.2);
	padding: 6px 0;
	width: 100%;
	font-size: 14px;

}

article table.layout div.texture-list li table {

	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

article table.layout div.texture-list li table td.num {

	width: 50px;
	text-align: center;

}

article table.layout div.texture-list li table td.width {

	width: 40px;
	text-indent: 4px;

}

article table.layout div.texture-list li table td.trash {

	width: 50px;
	text-align: center;

}

article table.layout div.texture-list li table td.trash i {

	opacity: 0.2;

}

article table.layout div.texture-list li table td.trash i:hover {

	cursor: pointer;
	opacity: 0.6;

}

article table.layout div.label {

	position: relative;

}

article table.layout div.label span {

	position: absolute;
	right: 10px;
	top: 2px;
	font-family: Muli;

}

article table.layout div.label span:hover {

	cursor: pointer;

}

h3 {

	font-family: 'Muli', sans-serif;
	text-indent: 8px;

}


article table.layout input[type="file"] {

	visibility: hidden;

}

article table.layout div.big-button {

	width: calc(80% - 20px);
	display: block;
	margin: auto;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin-bottom: 20px;
	color: #fff;
	font-family: Muli;

}

article table.layout div.big-button:hover {

	cursor: pointer;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(1,37,43,0.5);
	-moz-box-shadow: 1px 1px 10px 0px rgba(1,37,43,0.5);
	box-shadow: 1px 1px 10px 0px rgba(1,37,43,0.5);

}

article table.layout div.big-button.download {

	background-color: #4caf50;
	border: 1px solid #116d14;

}

article table.layout div.big-button.json {

	background-color: #008cba;
	border: 1px solid #112787;

}

article table.layout div.big-button table {

	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	height: 100%;

}

article table.layout div.big-button table td.icon {

	width: 60px;
	text-align: center;

}

article table.layout div.image-preview {

	width: 90%;
	height: 484px;
	display: block;
	margin: auto;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #e5e5e5;
	border-radius: 4px;

}

