html {

	padding: 0;
	margin: 0;
	height: 100%;

}

body {

	padding: 0;
	margin: 0;
	height: 100%;

}

main {

	width: 100%;
	height: 100%;
	--header-height: 44px;
	overflow: hidden;
	--footer-height: 34px;

}

header {

	position: fixed;
	background-color: #e5e5e5;
	height: var(--header-height);
	z-index: 10;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: #2e4382;
	color: #fff;

}

header table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

header table td.title {

	width: 240px;

}

header table td.padding {

	width: 10px;
	background-color: rgba(0,0,0,0.1);

}

header table td.dropdown {

	width: 120px;
	position: relative;
	text-indent: 4px;
}


header table td.dropdown div.menu {

	position: absolute;
	top: calc(100% - 10px);
	right: 0;
	width: 100%;
	transform: translateY(20px);
	opacity: 0;
	pointer-events: none;
	transition: transform 200ms, opacity 200ms;

}

header table td.dropdown:hover {

	cursor: pointer;

}

header table td.dropdown:hover div.menu {

	transform: translateY(0px);
	opacity: 1.0;
	pointer-events: all;

}

header table td.dropdown div.menu:after {

	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 5px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #e5e5e5;
	z-index: 10;

}

header table td.dropdown div.menu:before {

	content: "";
	display: block;
	position: absolute;
	top: 1px;
	left: 5px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	z-index: 10;

}

header table td.dropdown div.menu ul {

	width: calc(100% - 22px);
	padding: 10px;
	margin: 0;
	border: 1px solid #eee;
	border-radius: 5px;
	background-color: #fff;
	margin-top: 10px;
}

header table td.dropdown div.menu ul li {

	list-style: none;
	color: #444;
	padding: 4px 0;

}

header table td.dropdown div.menu ul li:hover {

	background-color: rgba(0,0,0,0.1);

}

header table h1 {

	padding: 0;
	margin: 0;
	font-size: 18px;
	text-indent: 10px;
	letter-spacing: 0.5px;

}

section {

	width: 100%;
	height: calc(100% - var(--header-height) - var(--footer-height));
	padding-top: var(--header-height);

}

footer {

	width: 100%;
	height: calc(var(--footer-height) - 1px);
	border-top: 1px solid #e5e5e5;
	background-color: #f2f2f2;
	position: fixed;
	z-index: 10;

}
